@charset "UTF-8";

#header {
  width: 100%;
  height: 5%;
  background: #ffe;
  border-bottom: 2px solid #ccc;
  box-sizing: border-box;
}
#header > div {
  margin: 0;
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
}

#map {
  height: 95%;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.guide {
  position: absolute;
  top:5%;
  left: 0;
  width: 20%;
  padding: 1em;
  background: #fff;
  font-size: 20%;
  z-index: 1;
  opacity: 0.8;
}

ul {
  list-style: none;
}

li > img {
  width: 15%;
}


@media (max-width: 480px) {
  #header {
    height: 8%;
  }
  #header > div {
    margin: 0;
    display: block;
    font-size: 16px;
    font-weight: bold;
  }
  #header > span {
    font-size: 12px;
  }
  #map {
    height: 92%;
  }
  .guide {
    padding: 0;
    top: 8%;
    width: 100%;
    font-size: 12px;
  }

li {
  display: inline-block;
}
  li > img {
    width: 20%;
  }
}
